{mode, max}.
{duration, infinity}.
{concurrent, 20}.
{driver, bb_driver_preload}.
{riakc_pb_ips, [{127,0,0,1}]}.
{riakc_pb_replies, 1}.
{operations, [{create, 1}]}.
{key_generator, {int_to_str, {partitioned_sequential_int, 100000}}}.
{value_generator, {function, lorem_ipsum_valgen, value, [1024]}}.
{code_paths, [".", "deps/mochiweb"]}. %% also depends on riakc
